@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

a {
	color: #ff7a00;
	font-size: 19px;
	font-weight: 300;
}

a:hover {
	color: #ff7a01;
}

.filled-button {
	padding: 10px 25px;
	background: #ff7a01;
	color: white;
	transition: .2s;
	text-decoration: none;
	font-weight: 300;
	border-radius: 5px;
	font-size: 14px;
}
.filled-button:hover {
	background: white;
	color: #ff7a01;
	border: 1px solid #ff7a01;
}

/* Margins */
.mt-1 {
	margin-top: 50px;
}

.ml-1 {
	margin-left: 30px;
}

/* Navbar */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0px;
}

nav .logo-section img{
	height: 30px;
}

nav ul.nav-items {
	align-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

nav ul.nav-items li {
	display: inline-block;
	list-style-type: none;
	padding: 5px 35px;
}

.nav-active {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
nav ul.nav-items li a {
	color: rgb(0,0,0);
	text-decoration: none;
	transition: .16s;
	font-size: 16px;
}

nav ul.nav-items li a:hover, nav ul.nav-items li a.active {
	color: #ff7a00;
}

nav .icon-section {
	display: flex;
	flex-direction: row;
	margin-left: 50px;
}
nav .icon-section div {
	padding: 5px 15px;
}

nav .hamburger {
	display: none;
}

nav .hamburger div {
	height: 3px;
	width: 30px;
	margin-top: 3px;
	background: black;
}
/* Main Section */

.main-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-section .text-section {
  display: flex;
  flex-direction: column;
}

.main-section .text-section .main-title {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 90px;
}

.main-section .text-section .main-title h1.title {
	font-family: 'Poppins', sans-serif;
	letter-spacing: -3px;
	font-size: 70px;
}

.main-section .text-section .main-title h1.title span {
	color: #ff7a00;
}

.main-section .text-section .main-paragraph {
	max-width: 400px;
}
.main-section .mockup-section img {
	width: 468px;
}

/* Subscription Section */
.subsription-section {
	background: #ff7a00;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 70px 100px;
}

.subsription-section .text-section {
	max-width: 300px;
}

.subsription-section .submit-section input[type="text"] {
	padding: 25px 30px;
	border-radius: 50px;
	width: 500px;
	outline: none;
	border: none;
}

.subsription-section .submit-section a.submit-button {
	background: black;
	color: white;
	font-size: 19px;
	text-decoration: none;
	padding: 20px 80px;
	border-radius: 50px;
}

/* DElivery Section */
.delivery-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: rgb(240,240,240);
	padding: 60px;
}

.delivery-section .mockup-section img {
	width: 600px;
}

.delivery-section .text-section {
	max-width: 500px;
	flex-wrap: wrap;
	align-content: center;
}

.delivery-section .text-section .title-section {
	display: flex;
  	align-items: center;
}

.delivery-section .text-section .title-section img {
	height: 30px;

}

/* Food Price Section */
.bestsellers {
	background: rgb(240,240,240);
}
.bestsellers .food-price-section {
	display: flex;
	justify-content: center;
	
	padding: 80px;
}

.food-price-section img {
	height: 270px;
}

.bestsellers .bestseller-food {
	text-align: center;
}

.bestsellers .bestseller-food .title h2 {
	color: #ff7a00;
	font-size: 36px;
}

.bestsellers .bestseller-food .food-mockup-section {
	display: flex;
	justify-content: center;
	text-align: center;
}

.bestsellers .food-mockup-section img {
	width: 370px;
	padding: 5px 10px;
}


/* Footer */
footer {
	background: #ff7a00;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 60px;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: white;
	text-decoration: none;
}
footer ul li a:hover {
	color: rgb(200,200,200);
}

.sub-footer{
	background: rgb(30,30,30);
	color: white;
	text-align: center;
}
.sub-footer a {
	text-decoration: none;
}

@media (max-width: 800px) {
	a {
		font-size: 16px;
	}

.filled-button {
	font-size: 12px;
}

/* Margins */
.mt-1 {
	margin-top: 40px;
}

.ml-1 {
	margin-left: 25px;
}

/* Navbar */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px;
}

nav ul.nav-items {
	display: none;
}

nav ul.nav-items li {
	display: block;
	padding: 5px 35px;
}

nav ul.nav-items li a {
	color: rgb(0,0,0);
	text-decoration: none;
	transition: .16s;
	font-size: 16px;
}

nav ul.nav-items li a:hover, nav ul.nav-items li a.active {
	color: #ff7a00;
}

nav .nav-items-active {
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	position: absolute;
	margin-top: 80px;
	z-index: 5;
	background: white;
	opacity: .9;
	box-shadow: 5px 10px 5px 5px rgba(100,100,100,.3);
}

nav .icon-section div {
	padding: 5px 15px;
}

nav .hamburger {
	display: initial;
}
nav .hamburger div {
	height: 3px;
	width: 30px;
	margin-top: 3px;
	background: black;
}

/* Main Section */

.main-section {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: unset;
}

.main-section .text-section .main-title h1.title {
	font-size: 50px;
	line-height: 60px;
}

.main-section .text-section .main-paragraph {
	max-width: 250px;
}
.main-section .mockup-section img {
	width: 358px;
	margin-top: 100px;
}

/* Subscription Section */
.subsription-section {
	flex-direction: column;
	justify-content: center;
	padding: 30px 50px;
}

.subsription-section .text-section {
	max-width: 300px;
	margin-bottom: 20px;
}

.subsription-section .submit-section input[type="text"] {
	padding: 15px 20px;
	border-radius: 40px;
	width: 200px;
}

.subsription-section .submit-section a.submit-button {
	background: black;
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 50px;
}


/* DElivery Section */
.delivery-section {
	flex-direction: column;
	padding: 10px;
	justify-content: unset;
}

.delivery-section .mockup-section img {
	width: 300px;
}

.delivery-section .text-section {
	max-width: 500px;
}

.delivery-section .text-section .title-section {
	display: flex;
  	align-items: center;
}

.delivery-section .text-section .title-section img {
	height: 30px;

}

/* Food Price Section */
.bestsellers .food-price-section {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.food-price-section img {
	height: initial;
	width: 80%;
}

.bestsellers .bestseller-food {
	text-align: center;
}

.bestsellers .bestseller-food .title h2 {
	color: #ff7a00;
	font-size: 36px;
}

.bestsellers .bestseller-food .food-mockup-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.bestsellers .food-mockup-section img {
	width: 70%;
	padding: 15px 10px;
	align-self: center;
}


/* Footer */
footer {
	background: #ff7a00;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
}

footer img {
	width: 100px;
}

footer p {
	font-size: 14px;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: white;
	text-decoration: none;
}
footer ul li a:hover {
	color: rgb(200,200,200);
}


}